.races {
  width: 100%;
  overflow: auto;
  padding: 24vh 0 3vh;
}

.races__title {
  margin: 0;
  white-space: nowrap;
}

.races__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 10%;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1vw;
  align-items: center;
}
