.blob {
  position: absolute;
  background: #b442df;
  border-radius: 8px;
  border: 3px solid #6c2994;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.blob__eye {
  position: absolute;
  top: 50%;
  left: 60%;
  translate: -50% -50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.blob__eye::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 70%;
  translate: -50% -50%;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.blob.reverse .blob__eye {
  left: 40%;
}

.blob.reverse .blob__eye::before {
  left: 30%;
}

.blob.jump {
  animation: 0.5s ease-in squish;
}
