.players {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.players__list {
  display: flex;
  margin: 0;
  padding: 5px;
  list-style-type: none;
  height: 50px;
}

.players__player {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players__avatar {
  max-width: 3em;
  max-height: 3em;
  margin: 0 0.3125em;
}

.players__player--you .players__avatar {
  border: 0.2em solid yellow;
  border-radius: 50%;
}

.players__time {
  font-size: 0.8em;
}
