.countdown {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 6em;
  text-shadow: 0 0 8px black, 0 0 4px black;
}

.countdown__timer {
  animation: 200ms ease-in scale, 200ms ease-in appear;
}