.start {
  flex: 1;
  margin-top: 23vh;
  position: relative;
}

.start__players {
  position: absolute;
  top: 14vw;
  left: 0;
  right: 0;
  bottom: 4.5em;
  transform-style: preserve-3d;
  perspective-origin: bottom center;
  perspective: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.start__player {
  position: relative;
}

.start__player .blob__body {
  scale: 1.8;
}

.start__player .blob__name {
  top: -2em;
}

.start__player--you {
  transform: translateX(30px) translateY(-5px) translateZ(1px) scale(1.2);
}

.start__player:nth-child(2) {
  transform: translateX(20px);
}

.start__player:nth-child(3) {
  transform: translateX(5px) translateZ(-2px);
}

.start__player:nth-child(4) {
  transform: translateX(-2px) translateZ(-4px);
}

.start__player:nth-child(5) {
  transform: translateX(-6px) translateZ(-6px);
}

.start__player:nth-child(6) {
  transform: translateX(-10px) translateZ(-8px);
}

.blob.squish .blob__body {
  animation: 0.5s ease-in idle-squish;
}

.blob.jumpy .blob__body {
  animation: 1s ease-in idle-jumpy;
}

.blob.roll .blob__eye {
  animation: 2s ease-in idle-roll;
}


.start__screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start__title {
  position: relative;
  white-space: nowrap;
  font-family: system-ui;
  font-size: 14vw;
  font-weight: bold;
  color: #b442df;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #6c2994;
  line-height: 10vw;
  margin: 0;
  cursor: pointer;
  top: -0.2em;
}

.start__title--squish {
  animation: 0.5s ease-in squish, 0.5s ease-in-out jump;
}

.start__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 1.5vw;
  left: 4.5vw;
  width: 1.5vw;
  height: 1.5vw;
  background-color: white;
  border-radius: 50%;
}

.start__title:after {
  content: "";
  display: block;
  position: absolute;
  top: 2vw;
  left: 5vw;
  width: 0.5vw;
  height: 0.5vw;
  background-color: black;
  border-radius: 50%;
}

.start__button {
  border-radius: 0.5rem;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1em;
  background: #b442df;
  border: 3px solid #6c2994;
  color: white;
  box-shadow: 0px 0px 5px white;
  position: relative;
  margin-top: auto;
  margin-bottom: 2vw;
}

.start__arrow {
  width: 0;
  height: 0;
  border-width: 0.3em 0 0.3em 0.3em;
  border-style: solid;
  border-color: transparent transparent transparent white;
  animation: 1s ease-in infinite slide;
  position: absolute;
  right: 1em;
  top: 50%;
}
