.start {
  flex: 1;
  margin-top: 17vh;
  position: relative;
  width: 100%;
}

.start__players {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
  perspective-origin: bottom center;
  perspective: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  translate: 0 -50%;
}

.start__player {
  position: relative;
  transition: transform ease-in 1s, left ease-in 1s;
}

.start__player .blob__body {
  scale: 1.8;
}

.start__player .blob__name {
  top: -2em;
}

.start__player--you {
  transform: translateX(30px) translateY(-5px) translateZ(1px) scale(1.2);
}

.start__player:nth-child(2) {
  transform: translateX(20px);
}

.start__player:nth-child(3) {
  transform: translateX(5px) translateZ(-2px);
}

.start__player:nth-child(4) {
  transform: translateX(-2px) translateZ(-4px);
}

.start__player:nth-child(5) {
  transform: translateX(-6px) translateZ(-6px);
}

.start__player:nth-child(6) {
  transform: translateX(-10px) translateZ(-8px);
}

.blob.squish .blob__body {
  animation: 0.5s ease-in idle-squish;
}

.blob.jumpy .blob__body {
  animation: 1s ease-in idle-jumpy;
}

.blob.roll .blob__eye {
  animation: 2s ease-in idle-roll;
}

.start__title {
  position: absolute;
  white-space: nowrap;
  font-family: system-ui;
  font-size: 14vw;
  font-weight: bold;
  color: #b442df;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #6c2994;
  line-height: 10vw;
  margin: 0;
  cursor: pointer;
  left: 50%;
  translate: -50% 0;
  view-transition-name: title;
}

.start__title--squish {
  animation: 0.5s ease-in squish, 0.5s ease-in-out jump;
}

.start__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 1.5vw;
  left: 4.5vw;
  width: 1.5vw;
  height: 1.5vw;
  background-color: white;
  border-radius: 50%;
}

.start__title:after {
  content: "";
  display: block;
  position: absolute;
  top: 2vw;
  left: 5vw;
  width: 0.5vw;
  height: 0.5vw;
  background-color: black;
  border-radius: 50%;
}

.start__button {
  border-radius: 2vw;
  font-size: 8vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1em;
  background: #b442df;
  border: 0.5vw solid #6c2994;
  color: white;
  box-shadow: 0px 0px 1vw white;
  position: absolute;
  bottom: 2vw;
  left: 50%;
  translate: -50% 0;
  white-space: nowrap;
  z-index: 1;
  transform: translateZ(10px);
  view-transition-name: button;
}

.start__arrow {
  width: 0;
  height: 0;
  border-width: 0.3em 0 0.3em 0.3em;
  border-style: solid;
  border-color: transparent transparent transparent white;
  animation: 1s ease-in infinite slide;
  position: absolute;
  right: 1em;
  top: 50%;
}

.start__back {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 1.2em;
  position: absolute;
  top: 2em;
  left: 1em;
}

.start__backArrow {
  width: 0;
  height: 0;
  border-width: 1em 1em 1em 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  animation: 1s ease-in infinite slide-left;
  position: absolute;
}

.start__player--hide {
  left: 200% !important;
}

::view-transition-old(title) {
  animation: 1s both slide-title-out;
}

::view-transition-new(title) {
  animation: 1s both slide-title-in;
}

@keyframes slide-title-in {
  from { translate: 0 -400%; opacity: 0; scale: 0.5; }
}

@keyframes slide-title-out {
  to { translate: 0 -400%; opacity: 0; scale: 0.5; }
}

::view-transition-old(button) {
  animation: 1s both slide-button-out;
}

::view-transition-new(button) {
  animation: 1s both slide-button-in;
}

@keyframes slide-button-in {
  from { translate: 0 400%; opacity: 0; scale: 0.5; }
}

@keyframes slide-button-out {
  to { translate: 0 400%; opacity: 0; scale: 0.5; }
}

.start__say {
  position: absolute;
  left: -100%;
  top: 0;
  white-space: nowrap;
  font-size: 2vw;
  translate: -100% 0;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  animation: 2s linear infinite pulse;
}

.start__say:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent white;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  translate: 0 -50%;
}
