.level {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.level__parallax {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 300%;
  background: center / contain repeat url("background02.png");
}

.level__map {
  position: absolute;
}

.level__background {
  position: relative;
}

.level__block {
  position: absolute;
  background: #8d4a23;
}

/* Reverser */
.level__block--0 {
  background: yellow;
}

/* Jumper */
.level__block--1 {
  background: blue;
}

/* Spikes */
.level__block--2 {
  background: center / 64px 16px url("spikes.png");
}

/* End */
.level__block--3 {
  background: center / 32px 64px url("end.png");
}

/* Walljump */
.level__block--4 {
  background: magenta;
}

.level__player {
  position: absolute;
  background: #b442df;
  border-radius: 8px;
  border: 3px solid #6c2994;
  box-sizing: border-box;
}

.level__player-eye {
  position: absolute;
  top: 50%;
  left: 60%;
  translate: -50% -50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.level__player-eye::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 70%;
  translate: -50% -50%;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.level__player--reverse .level__player-eye {
  left: 40%;
}

.level__player--reverse .level__player-eye::before {
  left: 30%;
}

.level__player--jump {
  animation: 0.5s ease-in jump;
}

@keyframes jump {
  0% {
    scale: 1 1;
  }
  10% {
    scale: 1 0.5;
  }
  50% {
    scale: 0.8 1.2;
  }
  100% {
    scale: 1 1;
  }
}
