.scores {
  position: absolute;
  top: 8%;
  bottom: 8%;
  left: 8%;
  right: 8%;
}

.scores__list {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  scale: 0;
  animation: 1s ease-in forwards scaleup;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 3em 0.5em 1em;
  z-index: 2;
  border-radius: 2vw;
  border: 2px solid black;
}

.scores__player {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: translate 400ms ease;
}

.scores__rank {
  font-size: 2em;
  font-family: monospace;
}

.scores__avatar {
  height: 100%;
  max-height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border: 0.2em solid transparent;
}

.scores__player--you .scores__avatar {
  border-color: yellow;
  border-radius: 50%;
}

.scores__data {
  flex: 1;
}

.scores__name {
  font-size: 0.8em;
  font-weight: bold;
}

.scores__time {
  font-size: 0.8em;
}

.scores__score {
  font-size: 0.8em;
}

.scores__total {
  font-size: 2em;
  position: relative;
  font-family: monospace;
}

.scores__total-add {
  animation: 2s ease-in 2s both movedown;
}

.scores__total-before {
  display: flex;
  position: absolute;
  animation: 0.5s ease-in 4s both disapear;
}

.scores__total-after {
  animation: 0.5s ease-in 4s both appear;
}

.scores__button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  translate: 50% -50%;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #b442df;
  border: 3px solid #6c2994;
  color: white;
  box-shadow: 0px 0px 5px white;
  scale: 0;
  animation: 1s ease-in 5s forwards scale;
}

.scores__arrow {
  width: 0;
  height: 0;
  border-width: 0.3em 0 0.3em 0.3em;
  border-style: solid;
  border-color: transparent transparent transparent white;
  animation: 1s ease-in infinite slide;
  position: absolute;
  top: 50%;
}
